<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

 <p>
    Splurty was built by <a target="_blank" href="https://github.com/michaelhandkins">Michael Handkins</a>, Web Developer in training, and inspired by Case Whitcomb Johnson.
  </p>
  <br />
  <p>
    Growing up, Michael's friend Case was constantly thumping his Bible in order to collect as much dogma as would fall at the force of his flicks. Eventually, this led Case to Calvinism. Day in and day out, the newly proselytized Calvinist would strive for the conversion of his peers by blurting out reasons that even you, in fact, may very well be a Calvinist. This led Michael, in his early exploratory days of web development, to create an app that would perform this duty automatically and globally, in hopes of providing rest for his friend Case.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Michael Handkins</h2>
      <br />
      <p>
        Michael Handkins is a web developer in training, currently enrolled in a full stack web development program at the University of Texas at Austin.
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />